.color-type-page-content{
  display: flex;
  justify-content: space-between;
  width: 1099.26px;
  margin: 145px 191px 145px 149.74px;
}
@import "content/modules/color-type/color-type.scss";
@import "content/modules/text-type/text-type.scss";