@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
h1{
  font-family: $mainFont;
}
h1 {
  color: red;
}
h3 {
  color: red;
}
h2 {
  color: red;
}
header{
  height: 200px;
  background-color: grey;
  border: 1px solid black;
  ul{
    display: flex;
    & li:hover{
      color: white;
    }
  }
}
footer{
  height: 200px;
  background-color: grey;
  border: 1px solid black;
}

@import "modules/wrapper";