@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
h1{
  font-family: $mainFont;
}
h1 {
  color: red;
}
h3 {
  color: red;
}
h2 {
  color: red;
}

@import "modules/wrapper";