@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/montserrat/montserrat-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/montserrat/montserrat-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/montserrat/montserrat-regular.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/montserrat/montserrat-bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/montserrat/montserrat-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/montserrat/montserrat-bold.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../../assets/fonts/quicksand/quicksand-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/quicksand/quicksand-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/quicksand/quicksand-regular.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../../assets/fonts/quicksand/quicksand-bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/quicksand/quicksand-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/quicksand/quicksand-bold.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
}