include ../utils/mixins
block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- примеры обращения к переменным
    title #{title}
    meta(name="description", content=description)
  body
    .wrapper
      block content