@font-face {
  font-family: Montserrat;
  src: url('../assets/fonts/montserrat/montserrat-bold.ttf'),
       url('../assets/fonts/montserrat/montserrat-bold.svg');
}
@font-face {
  font-family: Quicksand;
  src: url('../assets/fonts/quicksand/quicksand-bold.ttf'),
       url('../assets/fonts/quicksand/quicksand-bold.svg');
}