extends content/layouts/main

block variables
  - var title = 'elFact'
  - var description = 'example Webpack + Pug work'
  - var pageClass = 'index-page'

  a(href="ui/colors-and-type.html") Color and type