extends content/layouts/ui-page

block variables
  - var title = 'elFact'
  - var description = 'example Webpack + Pug work'
  - var pageClass = 'index-page'

  ul
    li
      a(href="ui/colors-and-type.html") Color & type
    li
      a(href="ui/form-elements.html") Form elements