@import "content/utils/vars";
@import "content/utils/mixins";
@import "content/utils/fonts";

h1{
  font-family: 'Quicksand', 'Montserrat';
}
h1 {
  color: red;
}
h3 {
  color: red;
}
h2 {
  color: red;
}
header{
  height: 200px;
  background-color: grey;
  border: 1px solid black;
  ul{
    justify-content: space-around;
    display: flex;
    & li:hover{
      color: white;
    }
  }
}
footer{
  height: 200px;
  background-color: grey;
  border: 1px solid black;
}

@import "content/modules/wrapper";